<!DOCTYPE html SYSTEM "about:legacy-compat">

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta content-type="text/html" />
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="mobile-web-app-capable" content="yes">
		<title>{{ page.title }}</title>
	</head>
	<body>
		{{ content }}
	</body>
</html>
